@import 'media-queries';
@import 'breakpoint';
@import 'layout';
@import 'typography';

$tiny-font: 12.2vw;

.title {
  @include breakpoint(tiny) {
    font-size: $tiny-font;
    margin-left: 4px;
    margin-top: 7.5px;
  }

  @include breakpoint(x-small) {
    font-size: $title-size * .94;
    margin: inherit;
    margin-left: 4px;
  }

  @include breakpoint(small) {
    font-size: $title-size;
    margin: inherit;
    margin-left: 4px;
  }

  @include breakpoint(medium) {
    font-size: $title-size;
    margin: inherit;
    margin-left: 4px;
  }

  @include breakpoint(large) {
    font-size: $title-size;
    margin: inherit;
    margin-left: 4px;
  }
}


.main {
  @include breakpoint(tiny) {
    background-image: url('../images/mobile-img3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include breakpoint(x-small) {
    background-image: url('../images/mobile-img2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include iphone5(portrait) {
    background-image: url('../images/mobile-img3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include iphone6(portrait) {
    background-image: url('../images/mobile-img3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include iphone5(landscape) {
    background-image: url('../images/mobile-img3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include iphone6(landscape) {
    background-image: url('../images/mobile-img3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include breakpoint(small) {
    background-image: url('../images/background-2.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
  }

  @include breakpoint(medium) {
    background-image: url('../images/background-2.jpg');
    background-repeat: no-repeat;
    background-size: 115%;
  }

  @include breakpoint(large) {
    background-image: url('../images/Header_Golf_1.jpg');
    background-repeat: no-repeat;
    background-size: 140%;
  }
}




.credit {
  @include breakpoint(tiny) {
    font-size: ($credit-size * .75);
  }

  @include breakpoint(x-small) {
    font-size: ($credit-size * .75);
  }

  @include breakpoint(small) {
    font-size: ($credit-size * .75);
  }

  @include breakpoint(medium) {
    font-size: $credit-size * .95;
  }

  @include breakpoint(large) {
    font-size: $credit-size;
  }
}
