$off-white: #fefefe;
$grey: #e5e5e5;
$charcoal: #4e4e4e;
$faint-charcoal: rgba(78, 78, 78, .6);
$white: #fff;
$black: #000;
$red: #f00;
$destroy: #c20002;

@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}
