$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'colors';
@import 'typography';
@import 'layout';
@import 'theme';

// this must be entered last!!
@import 'breakpoints';
