$header-margin: 15px;
$header-box-height: 60px;

html {
  height: 100%;
  overflow: hidden;
}

body {
  padding-top: 2px;
}

p {
  margin: 0;
}

.title {
  float: left;
}

.header-box {
  align-items: flex-end;
  display: flex;
  float: right;
  height: $header-box-height;
  margin-right: $header-margin;
  margin-top: $header-margin;
}

.sign-in-prompt {
  margin-top: 3px;
}

.user-welcome {
  align-items: center;
  display: flex;
  float: right;
  // justify-content: center;
  margin-right: ($header-margin * 1.5);
  margin-top: $header-margin;
}

.welcome-msg {
  float: left;
  margin: auto 5px;
}

// Settings icon
.cog-btn {
  margin: 3px;
  padding: 0;
}

.glyphicon-cog {
  margin: 0;
  padding: 3px 3px 1px 4px;
}
// END settings icon

.dropdown-menu {
  text-align: center;
}

hr {
  clear: both;
  margin: 0;
  position: static;
  width: 100%;
}

.sign-in-alert-danger {
  float: right;
}

.no-sign-in-alert-danger {
  margin: 5px auto;
  width: 460px;
}

.btn-text {
  clear: both;
  margin: 10px 5px;
  text-align: center;
}

// Set top margin for all modals
.modal {
  margin-top: 25vh;
}


.profile-button,
.profile-btn {
  float: left;
}


// ----------------  START STYLING FOR ROUNDS TABLE --------------------- //
.rounds {
  float: left;
  margin: 45px 5px 5px 50px;
}

.rounds-row {
  clear: left;
  float: left;
}

.rounds-h2 {
  float: left;
}

// INITIALIZE ADD ROUND BUTTON
.rounds-btn {
  float: right;
}

.round-headers {
  clear: both;
  float: left;
  margin-right: 114px;
}

.delete {
  float: right;
}

// ADD ROUND SUBMIT BUTTON
.add-round {
  clear: both;
  float: left;
}

// ----------------  END STYLING FOR ROUNDS TABLE --------------------- //

// ----------------  START STYLING FOR PROFILE DASH --------------------- //
.profile-dash {
  float: right;
  margin: 45px 50px 5px 5px;
  min-width: 234px;
  width: 20%;

  h2 {
    text-align: center;
  }

  strong {
    margin-left: 4px;
  }
}



// ----------------  END STYLING FOR PROFILE DASH --------------------- //




// STYLING FOR FOOTER AND ITS CONTENTS
footer {
  bottom: 0;
  position: fixed;
}

.credit {
  margin: 0;
}
