$header-margin: 15px;
$header-box-height: 60px;

html {
  height: 100%;
  overflow: visible;
}

p {
  margin: 0;
}

.title {
  float: left;
  margin: 0 0 0 $header-margin;
}

.header-box {
  align-items: flex-end;
  display: flex;
  float: right;
  height: $header-box-height;
  margin-right: $header-margin;
  margin-top: $header-margin;
}

.user-welcome {
  align-items: center;
  display: flex;
  float: right;
  // justify-content: center;
  margin-right: ($header-margin * 1.5);
  margin-top: $header-margin;
}

.welcome-msg {
  float: left;
  margin: auto 5px;
}

.cog-btn {
  float: right;
  margin: 3px;
  padding: 0;
}

.glyphicon-cog {
  margin: 0;
  padding: 3px 3px 1px 4px;
}

.dropdown-menu {
  text-align: center;
}

hr {
  clear: both;
  margin: 0;
  position: static;
  width: 100%;
}

.sign-in-alert-danger {
  float: right;
}

.no-sign-in-alert-danger {
  margin: 5px auto;
  width: 460px;
}

.btn-text {
  clear: both;
  margin: 10px 5px;
  text-align: center;
}

.modal {
  margin-top: 25vh;
}

input {
  margin: 1px 2px 1px 0;
}

footer {
  bottom: 0;
  position: fixed;
}

.credit {
  margin: 0;
}
