@import 'layout';
// margin
// width and friends (like max-width)
// line-height
// font-size
// padding

$title-size: 75px;
$credit-size: 15px;

// font-family: 'VT323', monospace;
$bungee-shade: 'Bungee Shade', cursive;
$bungee: 'Bungee', cursive;
$rubik: 'Rubik', sans-serif;
$vt323: 'VT323', monospace;

$font-size: 14px;
$line-height: 1.6;
$heading-line-height: 2;

body {
  color: $charcoal;
  font-family: $rubik;
}

.title {
  font-family: $rubik;
  // font-size: 75px;
}

.credit {
  background-color: $faint-charcoal;
  color: $off-white;
}
