@import 'layout';
// margin
// width and friends (like max-width)
// line-height
// font-size
// padding

$title-size: 75px;
$credit-size: 15px;
$rounds-font-size: 13pt;

// font-family: 'VT323', monospace;
$bungee-shade: 'Bungee Shade', cursive;
$bungee: 'Bungee', cursive;
$rubik: 'Rubik', sans-serif;
$vt323: 'VT323', monospace;

$font-size: 14px;
$line-height: 1.6;
$heading-line-height: 2;

body {
  color: $charcoal;
  font-family: $rubik;
}

.title {
  font-family: $rubik;
  // font-size: 75px;
}

.profile-text {
  margin: 5px;
}

.profile-club {
  margin-top: 15px;
}

.round-input {
  font-size: $rounds-font-size - 3pt;
  line-height: $rounds-font-size * 1.5;
}

.rounds {
  font-size: $rounds-font-size;
}

.credit {
  background-color: $faint-charcoal;
  color: $off-white;
}
